.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature {
  flex: 1 1 30%; /* Força os itens a ocupar até 30% do contêiner pai */
  max-width: 30%; /* Garante que cada item não exceda 30% do contêiner pai */
  margin: 10px;
  text-align: center;
}

.featureImage {
  width: auto;
  max-width: 100px; /* Ajuste conforme necessário para um tamanho menor */
  height: auto;
}